body{
    /*background-color: #1e1e1e;*/
    background-image: url('cenario-de-anime-de-uma-aldeia-japonesa-com-uma-lua-cheia-no-ceu-generativo-ai_900814-1839.avif');
    background-size: cover;
    /*background-position: center;*/

    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.botão{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.img{
    display: contents;
    /*width: 200px;*/
    /*height: auto;*/
    align-items: center;
}